{% extends 'base.html' %}

{% load static %}
{% load registration_filters %}

{% block sidebar %}
    {% include 'registration_sidebar/user.html' %}
{% endblock %}

{% block title %}User Edit{% endblock %}

{% block content %}
    <div class="col-lg-4 mt-4 text-center">
        {% if user.photo %}
            <img class="card-img-top rounded-circle" src="{{ user.photo.url }}" alt="{{ user.username }}" width=45%" height="45%">
        {% else %}
            <img class="card-img-top rounded-circle" src="{% static 'image/penrose-triangle.jpg' %}" alt="{{ user.username }}" width=45%" height="45%">
        {% endif %}
        <a href="#change-my-photo" data-toggle="modal" data-target="#ModalPhotoChange">
            Change my photo
        </a>
        <!-- Modal for functions menu -->
        <div class="modal fade" id="ModalPhotoChange" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title" id="ModalLongTitle">Photo Change</h5>
                    </div>

                    <div id="modal-menu">
                        <ul class="list-inline text-center">
                            <li class="p-3 border-bottom" style="cursor: pointer" onclick="window.location.href='{% url 'photo_upload' %}'">Upload Photo</li>
                            <li class="p-3 border-bottom" style="cursor: pointer" onclick="window.location.href='#current_photo_delete'">Delete Current Photo</li>
                        </ul>
                    </div>
                    <div id="modal-footer">
                        <ul class="list-inline text-center">
                            <li>
                                <a class="btn btn-secondary text-white" data-dismiss="modal">Cancel</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8 mt-4">
        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">Profile Edit</div>
                <div class="card-body">
                    <ul class="list-inline">
                        <li>
                            <h5>Username</h5>
                            {{ form.username }}
                        </li>
                        <li>
                            <h5>Name</h5>
                            {{ form.first_name }}{{ form.last_name }}
                        </li>
                        <li>
                            <h5>Email&nbsp;{% if user.email_is_verified %}<i class="fa fa-check-circle" style="color: green"></i>{% endif %}</h5>
                            {{ user.email }}
                        </li>
                        <li>
                            <h5>Gender</h5>
                            {{ form.gender }}
                        </li>
                        <li>
                            <h5>Identity</h5>
                            {{ form.identity }}
                        </li>
                        <li>
                            <h5>Introduction</h5>
                            {{ form.introduction }}
                        </li>
                        <li>
                            <h5>Privilege</h5>
                            {% if user|has_permission:'SystemManager' %}
                                <span class="badge alert-danger">SystemManager</span>
                            {% endif %}
                            {% if user|has_permission:'TestManager' %}
                                <span class="badge alert-warning">TestManager</span>
                            {% endif %}
                            {% if user|has_permission:'TBManager' %}
                                <span class="badge alert-success">TBManager</span>
                            {% endif %}
                            {% if user|has_permission:'TBOperator' %}
                                <span class="badge alert-info">TBOperator</span>
                            {% endif %}
                            {% if user|has_permission:'Viewer' %}
                                <span class="badge alert-dark">Viewer</span>
                            {% endif %}
                            {% if user|has_permission:'Testee' %}
                                <span class="badge alert-light">Testee</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
