<div>
    <form method="post">
        {% csrf_token %}
        {{ user_filter_form.content }}
        {{ user_filter_form.identity }}
        <div class="float-right mb-2">
            <button id="search-submit-btn" type="submit" class="btn btn-outline-primary" disabled>Search</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    function is_empty(){
        var filter_content = document.getElementById('id_content');
        var search_submit_btn = document.getElementById('search-submit-btn');

        if (!filter_content){
            alert(filter_content);
        }
    }
    function is_change(){
        var search_submit_btn = document.getElementById('search-submit-btn');
        search_submit_btn.disabled = false;
}
</script>