{% extends 'base.html' %}

{% block sidebar %}
    {% include 'sidebar/alcpt/TBOperator.html' %}
{% endblock %}

{% block title %}New Question{% endblock %}

{% block content %}
    <div class="col-md-12 mt-4">
        <h1>New Question</h1>
        <p class="lead">Select below the type of question you want to create</p>
        <a href="{% url 'listening_question_creation' %}" class="btn btn-outline-primary" role="button">Listening Question</a>
        <a href="{% url 'reading_question_creation' %}" class="btn btn-outline-primary" role="button">Reading Question</a>
    </div>
{% endblock %}