{% extends 'base.html' %}

{% load question_filters %}

{% block title %}TBOperator Edit{% endblock %}

{% block sidebar %}
    {% include 'sidebar/alcpt/TBOperator.html' %}
{% endblock %}

{% block content %}
    <div class="col-md-12 mt-4">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <h1>Question Edit</h1>
            <p class="lead">Please update the content and resubmit to TBManager to review</p>

            {% if question.q_file %}
                <h5>Question File</h5>
                <audio controls preload="none">
                    <source src="{{ question.q_file.url }}" type="audio/mpeg">
                    Your browser does not support the audio tag.
                </audio>
            {% elif question.q_content %}
                <h5>Question Content</h5>
                {{ question_form.q_content }}
            {% else %}
                Unknown Content
            {% endif %}

            <div class="dropdown-divider"></div>

            <h5>Question Type</h5>
            {{ question_form.q_type }}

            <div class="dropdown-divider"></div>

            <h5>Question Difficulty</h5>
            {{ question_form.difficulty }}

            <div class="dropdown-divider"></div>

            <h5>Choice</h5>
            <ol type="A">
            {% for cf in choice_forms %}
                <li>{{ cf.is_answer }}{{ cf.is_answer.label }}<p>{{ cf.c_content }}</p></li>
            {% endfor %}
            </ol>

            <div class="float-right">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
                <button type="button" class="btn btn-secondary" onclick="history.go(-1)">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}