{% extends 'base.html' %}

{% block title %}New Question - Reading{% endblock %}

{% block sidebar %}
    {% include 'sidebar/alcpt/TBOperator.html' %}
{% endblock %}

{% block content %}
    <div class="col-md-12 mt-4">
        <h1>New Question</h1>
        <p class="lead">Input the required data of question creation</p>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <h5>Question Content</h5>
            {{ question_form.q_content }}

            <div class="dropdown-divider"></div>

            <h5>Question Type</h5>
            {{ question_form.q_type }}

            <div class="dropdown-divider"></div>

            <h5>Question Difficulty</h5>
            {{ question_form.difficulty }}

            <div class="dropdown-divider"></div>

            <h5>Choice</h5>
            <ol type="A">
                {% for cf in choice_forms %}
                    <li>{{ cf.is_answer }}{{ cf.is_answer.label }}<p>{{ cf.c_content }}</p></li>
                {% endfor %}
            </ol>

            <div class="float-right">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" onclick="history.go(-1)">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}