{% extends 'base.html' %}

{% load registration_filters %}

{% block title %}User List{% endblock %}

{% block sidebar %}
    {% include 'sidebar/alcpt/SystemManager.html' %}
{% endblock %}

{% block content %}
    <div class="col-md-12 mt-4">
        <h1>List of User</h1>
        <p class="lead">Total: {{ users.count }}</p>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-mc-light-blue">
                <thead class="thead-light text-center">
                    <th style="width: 20%">Username</th>
                    <th style="width: 14%">Name</th>
                    <th style="width: 4%">Identity</th>
                    <th style="width: 36%">Privilege
                        <i class="fa fa-question-circle" style="cursor: pointer" data-toggle="modal" data-target="#promptContent"></i>
                        <div class="modal fade text-left" id="promptContent" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h5 class="modal-title fl" id="ModalLongTitle">Icon Tips</h5>
                                    </div>
                                    <div class="modal-body h6">
                                        <ul>
                                            <li><p><span class="badge alert-danger">SM</span>：System Manager</p></li>
                                            <li><p><span class="badge alert-warning">TM</span>：Test Manager</p></li>
                                            <li><p><span class="badge alert-success">TBM</span>：TB Manager</p></li>
                                            <li><p><span class="badge alert-info">TBO</span>：TB Operator</p></li>
                                            <li><p class="text-danger">TB：TestBank</p></li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="width: 26%">Last login</th>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="align-middle">{{ user.username }}</td>
                        <td class="align-middle">{{ user.get_full_name }}</td>
                        <td class="align-middle text-center">{{ user.identity|readableIdentity }}</td>
                        <td class="align-middle">
                            {% if user|has_permission:'SystemManager' %}
                                <span class="badge alert-danger">SM</span>
                            {% endif %}
                            {% if user|has_permission:'TestManager' %}
                                <span class="badge alert-warning">TM</span>
                            {% endif %}
                            {% if user|has_permission:'TBManager' %}
                                <span class="badge alert-success">TBM</span>
                            {% endif %}
                            {% if user|has_permission:'TBOperator' %}
                                <span class="badge alert-info">TBO</span>
                            {% endif %}
                            {% if user|has_permission:'Viewer' %}
                                <span class="badge alert-dark">Viewer</span>
                            {% endif %}
                            {% if user|has_permission:'Testee' %}
                                <span class="badge alert-light">Testee</span>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            <span id="last-login-label" onclick="window.location.href='#user-update'">{{ user.last_login }}</span>
                            <span id="user-detail-icon" onclick="window.location.href='{% url 'view_user_detail' user.id %}'"><i class="fa fa-exclamation-circle float-right ml-2"></i></span>
                            <span id="user-edit-icon"><i class="fa fa-pencil-square-o float-right ml-2"></i></span>
                        </td>
                    </tr>
                {% empty %}

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <style type="text/css">
        #last-login-label{
            display: inline;
        }
        tr:hover #last-login-label{
            display: none;
        }
        #user-edit-icon{
            display: none;
        }
        tr:hover #user-edit-icon{
            font-size: 20px;
            display: inline;
            cursor: pointer;
        }
        #user-detail-icon{
            display: none;
        }
        tr:hover #user-detail-icon{
            font-size: 18px;
            display: inline;
            cursor: pointer;
        }
    </style>
{% endblock %}