{% extends 'base.html' %}

{% load static %}
{% load registration_filters %}

{% block sidebar %}
    {% include 'registration_sidebar/user.html' %}
{% endblock %}

{% block title %}Student Profile{% endblock %}

{% block content %}
    <div id="user_photo" class="col-lg-4 mt-4 text-center">
        {% if user.photo %}
            <img class="card-img-top" src="{{ user.photo.url }}" alt="{{ user.username }}">
        {% else %}
            <img class="card-img-top" src="{% static 'image/penrose-triangle.jpg' %}" alt="Unload">
        {% endif %}
    </div>
    <style type="text/css">
        #user_photo img{
            width: auto;
            height: auto;
            max-width: 60%;
            max-height: 60%;
        }
    </style>

    <div class="col-lg-8 mt-4">
        <div class="card">
            <div class="card-header">Student Profile</div>
            <div class="card-body">
                <ul class="list-inline">
                    <li class="border-bottom">
                        <h4>Student ID</h4>
                        {{ user.student.stu_id }}
                        {{ form.stu_id }}
                    </li>
                    <li class="border-bottom">
                        <h4>School{% if user.student.department %}<a href="{{ user.student.department.college.school.website }}" class="fa fa-link"></a>{% endif %}</h4>
                        {{ user.student.department.college.school.name }}
                        {{ school_form.school }}
                    </li>
                    <li class="border-bottom">
                        <h4>College</h4>
                        {{ user.student.department.college.name }}
                        {{ college_form.college }}
                    </li>
                    <li class="border-bottom">
                        <h4>Department</h4>
                        {{ form.department }}
                    </li>
                    <li class="border-bottom">
                        <h4>Squadron</h4>
                        {{ form.squadron }}
                    </li>
                    <li class="border-bottom">
                        <h4>Year Grade</h4>
                        {{ form.year_grade }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}