<div id="sidebar" class="col-md-12">
    <div class="card my-4 text-center">
        <a href="{% url 'profile' %}" class="card-header">Profile</a>
    </div>
    <div class="card my-4 text-center">
        <a href="#profile-update" class="card-header">Profile Update</a>
    </div>
    <div class="card my-4 text-center">
        <a href="#email" class="card-header">Email</a>
    </div>
    <div class="card my-4 text-center">
        <a href="#password-change" class="card-header">Password Change</a>
    </div>
    <div class="card my-4 text-center">
        <a href="#real-exam-record" class="card-header">Real Exam Record</a>
    </div>
</div>