<div id="sidebar" class="col-md-12">
    <div class="card my-4 text-center">
        <a href="{% url 'profile' %}" class="card-header">Profile</a>
    </div>
    {% if request.user.is_student %}
    <div class="card my-4 text-center">
        <a href="{% url 'student_profile' %}" class="card-header">Student Profile</a>
    </div>
    {% endif %}
    <div class="card my-4 text-center">
        <a href="{% url 'profile_edit' %}" class="card-header">Profile Edit</a>
    </div>
    <div class="card my-4 text-center">
        <a href="#album" class="card-header">Album</a>
    </div>
    <div class="card my-4 text-center">
        <a href="#email" class="card-header">Email</a>
    </div>
    <div class="card my-4 text-center">
        <a href="#password-change" class="card-header">Password Change</a>
    </div>
    <div class="card my-4 text-center">
        <a href="#real-exam-record" class="card-header">Real Exam Record</a>
    </div>
</div>