<div id="sidebar" class="col-md-12">
    <div class="card my-4 text-center">
        <a href="{% url 'user_list' %}" class="card-header">User List</a>
    </div>

    <div class="card my-4 text-center">
        <a href="{% url 'unit_list' %}" class="card-header">Unit List</a>
        <a href="{% url 'create_school' %}" class="card-header">New School</a>
        <a href="{% url 'create_college' %}" class="card-header">New College</a>
        <a href="{% url 'create_department' %}" class="card-header">New Department</a>
        <a href="{% url 'create_squadron' %}" class="card-header">New Squadron</a>
    </div>

    <div class="card my-4 text-center">
        <a href="#report_category_list" class="card-header">Report Category List</a>
        <a href="#report_category_create" class="card-header">New Report Category</a>
    </div>
</div>