{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block main %}
    <main>
        <div class="jumbotron">
            <h1 class="display-4" style="font-weight: 400;">Welcome to ALCPT Online Platform</h1>
            <p class="lead">This is a place where we try to build some interesting stuff about a web system for ALCPT. Hope you can improve your ability of English via this system.</p>
            <hr class="my-4">
            <p>If you have any suggestions, please leave us a message. Thank you for your using.</p>
            <a class="btn btn-primary" href="#contact-us" data-toggle="tooltip" data-placement="top" title="Contact Us">Contact Us</a>
            <a class="btn btn-secondary" href="#download_system_pdf" data-toggle="tooltip" data-placement="top" title="Download System PDF">About System</a>
            <a class="btn btn-light" data-toggle="modal" data-target="#ModalOperationManual">Operation Manual</a>

            <div class="modal fade" id="ModalOperationManual" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title" id="ModalLongTitle">Operation Manual</h5>
                        </div>

                        <div id="modal-menu">
                            <ul class="list-inline text-center">
                                <li class="p-3 border-bottom" style="cursor: pointer" onclick="alert('Function is developing. Stay tuned.🤪');">System</li>
                                <li class="p-3 border-bottom" style="cursor: pointer" onclick="alert('Function is developing. Stay tuned.🤪');">User</li>
                                <li class="p-3 border-bottom" style="cursor: pointer" onclick="alert('Function is developing. Stay tuned.🤪');">Report</li>
                                <li class="p-3 border-bottom" style="cursor: pointer" onclick="alert('Function is developing. Stay tuned.🤪');">System Manager</li>
                                <li class="p-3 border-bottom" style="cursor: pointer" onclick="alert('Function is developing. Stay tuned.🤪');">Test Manager</li>
                                <li class="p-3 border-bottom" style="cursor: pointer" onclick="alert('Function is developing. Stay tuned.🤪');">TB Manager</li>
                                <li class="p-3 border-bottom" style="cursor: pointer" onclick="alert('Function is developing. Stay tuned.🤪');">TB Operator</li>
                                <li class="p-3 border-bottom" style="cursor: pointer" onclick="alert('Function is developing. Stay tuned.🤪');">Viewer</li>
                                <li class="p-3 border-bottom" style="cursor: pointer" onclick="alert('Function is developing. Stay tuned.🤪');">Testee</li>
                                <li class="p-3" style="cursor: pointer" onclick="alert('Function is developing. Stay tuned.🤪');">Download Operation Manual</li>
                            </ul>
                        </div>

                        <div class="modal-footer">
                            <a class="btn btn-secondary" style="color: white" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}