{% load registration_filters %}

{% if request.user|has_permission:'SystemManager' %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SystemManager
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'user_list' %}">User List</a>
            <a class="dropdown-item" href="{% url 'unit_list' %}">Unit List</a>
            <a class="dropdown-item" href="#reportcategory_list">ReportCategory List</a>
        </div>
    </li>
{% endif %}

{% if request.user|has_permission:'TestManager' %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            TestManager
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#exam_list">Exam List</a>
            <a class="dropdown-item" href="#test_paper_list">TestPaper List</a>
            <a class="dropdown-item" href="#testee_group_list">Testee Group List</a>
        </div>
    </li>
{% endif %}

{% if request.user|has_permission:'TBManager' %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            TBManager
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#TBM_question_list">Question List</a>
            <a class="dropdown-item" href="#TBM_question_review">Question Review</a>
        </div>
    </li>
{% endif %}

{% if request.user|has_permission:'TBOperator' %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            TBOperator
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'TBOperator_question_list' %}">Question List</a>
            <a class="dropdown-item" href="{% url 'question_creation' %}">New Question</a>
        </div>
    </li>
{% endif %}

{% if request.user|has_permission:'Viewer' %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Viewer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#view_testee_score">View Testee Score</a>
        </div>
    </li>
{% endif %}

{% if request.user|has_permission:'Testee' %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Testee
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#testee_exam_record">Exam Record</a>
            <a class="dropdown-item" href="#testee_score_record">Score Record</a>
            <a class="dropdown-item" href="#listening_practice">Listening Practice</a>
            <a class="dropdown-item" href="#reading_practice">Reading Practice</a>
            <a class="dropdown-item" href="#integrate_practice">Integrate Practice</a>
        </div>
    </li>
{% endif %}